<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link rel="stylesheet" href="{{url_for('static', filename='login.css')}}">
</head>
<body>
    <div class="container">
        <h2>Вход в систему</h2>
        <form action="{{ url_for('auth_bp.auth_login') }}" method="post">
            <div class="input-group">
                <label for="username">Имя пользователя:</label>
                <input type="text" id="username" name="username" placeholder="Введите имя пользователя" required>
            </div>
            <div class="input-group">
                <label for="password">Пароль:</label>
                <input type="password" id="password" name="password" placeholder="Введите пароль" required>
            </div>
            <div class="custom-checkbox">
                <label for="is_external_user">
                    <input type="checkbox" class="custom-checkbox" id="is_external_user" name="is_external_user"> Внешний пользователь
                </label>
            </div>
            <button type="submit">Войти</button>
            <div class="additional-links">
                <p><a href="{{ url_for('main_menu') }}">Перейти в главное меню</a></p>
            </div>
            {% for msg in get_flashed_messages() %}
            <div class="flash">{{msg}}</div>
            {% endfor %}
        </form>
    </div>
</body>
</html>
